@model GridModelList

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

@{
    ViewBag.Title = "CSV to Grid";
    ViewData["Title"] = "Upload Page";
}
<form asp-controller="File" asp-action="SetGridData" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button id="uploadBtn" type="submit">Upload</button>
</form>
<hr />

@if (Model.GridData != null)
{
    <table id="tblGrid">
        <thead>
            <tr>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in @Model.GridData)
            {
                <tr>
                    <td>@data.Price </td>
                    <td>@data.Date </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />

    <div class="block-border">
        <h2 class="header-break" style="font-family:sans-serif">Calculation Results</h2>
        <div class="container block col-lg-8">
            <div class="container col-lg-4">
                <h6>Minimum Price value :</h6>
            </div>
            <div class="container col-lg-4" style="align-content:stretch">
                <p>@Model.Calculations.Min</p>
            </div>
        </div>

        <div class="container block col-lg-8">
            <div class="container col-lg-4">
                <h6>Maximum Price value :</h6>
            </div>
            <div class="container col-lg-4" style="align-content:stretch">
                <p>@Model.Calculations.Max</p>
            </div>
        </div>

        <div class="container block col-lg-8">
            <div class="container col-lg-4">
                <h6>Average Price value :</h6>
            </div>
            <div class="container col-lg-4" style="align-content:stretch">
                <p>@Model.Calculations.Avg</p>
            </div>
        </div>

        <div class="container block col-lg-8">
            <div class="container col-lg-4">
                <h6> Most expensive Hour Window :</h6>
            </div>
            <div class="container col-lg-4" style="align-content:stretch">
                <p>@Model.Calculations.MostExpWindow - @Model.Calculations.MostExpWindowSuffix</p>
            </div>
        </div>
    </div>
}
<br />

<script>
    $(document).ready(function() {
        $.noConflict();
        var table = $('#tblGrid').DataTable();
    });
</script>

<style>
    .block {
        display: flex;
    }

    .block-border{
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        padding: 5px;
        text-align: center;
    }

    .header-break{
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 5px;
        text-align: center;
    }
</style>
